<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>View .pog as Image</title>
</head>
<body>
    <h1>View .pog as Image</h1>
    <form method="POST" enctype="multipart/form-data" action="/display_pog">
        <input type="file" name="pogfile" accept=".pog">
        <button type="submit">View</button>
    </form>
    <a href="/">Go back</a>
</body>
</html>
